<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">   

    <title>Vídeos</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/album/album.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Sobre</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam quis odio quis pellentesque. Nam vitae ante id felis consequat dapibus. Nunc ultrices convallis libero, vel dignissim magna malesuada a. Nunc leo risus, tempus eu sodales pharetra, tincidunt in dui. Nunc in elit in sapien feugiat feugiat ac tristique ante. Sed dapibus sollicitudin orci, vitae finibus eros dignissim ut. Integer efficitur egestas magna, a sodales sem posuere gravida. Donec condimentum erat eget neque rhoncus, at hendrerit risus dictum. Vestibulum vestibulum ex orci, ac vehicula mi consectetur sed.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contato</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Siga no Twitter</a></li>
                <li><a href="#" class="text-white">Curta no Facebook</a></li>
                <li><a href="#" class="text-white">Envie-nos um E-mail</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Vídeos</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Vídeo example</h1>
          <p class="lead text-muted">Vestibulum sit amet urna tincidunt, interdum orci sit amet, sollicitudin dolor. Vestibulum gravida vitae velit eu viverra. Etiam maximus in tellus et scelerisque. Integer eget nisi sem.</p>
          <p>
            <a href="/uploader/upload" class="btn btn-primary my-2">Adicionar Vídeos</a>
            <a href="#videos" class="btn btn-secondary my-2">Todos os Vídeos</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light" id="videos">
        <div class="container">
          <div class="row">
            {% for video in videos %}
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <video class="card-img-top" src="http://{{servidor}}:3000/{{video.video_file}}" controls></video>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Voltar ao Topo</a>
        </p>
        <p>Vídeos &copy; Bootstrap.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
  </body>
</html>
